# Nuxt
.nuxt
.output
.data
.env
.env.*
!.env.example

# Node
node_modules

# Build
dist

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Uploads (foto disimpan di server, tidak di-commit)
public/uploads/

# Vite (sisa dari project lama)
src/

# Editor
.vscode/settings.json
.idea/
